<content-header name="Treinos" small="Cadastro"></content-header>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="treinamentoCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="tabList" ng-class="{active: tabList}">
                <a href data-target="#tabList" data-toggle="tab">
                  <i class="fa fa-bars"></i> Listar
               </a>
            </li>
            <li  ng-if="tabCreate" >
                <a href data-target="#tabCreate" data-toggle="tab">
                  <i class="fa fa-plus"></i> Incluir
               </a>
            </li>
            <li  ng-if="tabUpdate">
                <a href data-target="#tabUpdate" data-toggle="tab" ng-class="{active: tabUpdate}">
                  <i class="fa fa-pencil"></i> Alterar
               </a>
            </li>
            <li  ng-if="tabDelete" ng-class="{active: tabDelete}">
                <a href data-target="#tabDelete" data-toggle="tab">
                  <i class="fa fa-trash-o"></i> Excluir
               </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tabList" ng-include="'treinamento/list.html'"
            ng-if="tabList" ng-class="{active: tabList}"></div>
            <div class="tab-pane" id="tabCreate" ng-include="'treinamento/form.html'"
            ng-if="tabCreate"></div>
            <div class="tab-pane" id="tabUpdate" ng-include="'treinamento/form.html'"
            ng-if="tabUpdate" ng-class="{active: tabUpdate}"></div>
            <div class="tab-pane" id="tabDelete" ng-include="'treinamento/form.html'"
            ng-if="tabDelete" ng-class="{active: tabDelete}"></div>
        </div>
    </div>
</section>