<div role="form">
    <div class="box-body">
        <p class="margin">Pesquisar Aluno</p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="resultPreencheCampo.nome" ng-disabled="true">
                    <span class="input-group-btn">
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-info btn-flat"><i
                                class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div ng-if="resultPreencheCampo.nome.length > 0">
            <field id="dataNascimento" label="Data de Nascimento" model="resultPreencheCampo.dataNascimento" grid="12 3 2"
                readonly="true"></field>
            <field id="sexo" label="Sexo" model="resultPreencheCampo.sexo" grid="12 3 2" readonly="true"></field>
            <field id="objetivo" label="Objetivo" model="resultPreencheCampo.objetivo" grid="12 4 2" readonly="true"></field>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="peso">Peso</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.peso" id="peso" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="altura">Altura</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.altura" id="altura" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="subescapular">Subescapular</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.subescapular" id="subescapular" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="auxiliar_media">Axilar Média</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.auxiliar_media" id="auxiliar_media" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="triceps">Tríceps</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.triceps" id="triceps" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="coxa">Coxa</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.coxa" id="coxa" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="supra_iliaca">Supra_ilíaca</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.supra_iliaca" id="supra_iliaca" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="abdome">Abdome</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.abdome" id="abdome" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="peitoral">Peitoral</label>
                    <input ng-change="gorduraCorporal()" ng-model="avaliacoesFisicas.peitoral" id="peitoral" class="form-control" />
                </div>
            </div>

            <div class="row">
                <value-box grid="4" color-class="bg-green" icon-class="fa fa-bank" value="(%) {{ avaliacoesFisicas.percentual | number: 2  }}"
                    text="Percentual Massa Gorda (%)"></value-box>
                <value-box grid="4" color-class="bg-red" icon-class="fa fa-credit-card" value="Kg {{ avaliacoesFisicas.massaGorda | number: 2  }}"
                    text="Massa Gorda (Kg)"></value-box>
                <value-box grid="4" color-class="bg-blue" icon-class="fa fa-money" value="Kg {{ avaliacoesFisicas.massaMagra | number: 2  }}"
                    text="Massa Magra (Kg)"></value-box>
            </div>
            <button ng-click="update()" class="btn btn-primary">Incluir</button>
            <button ng-click="refresh()" class="btn btn-default">Cancelar</button>
        </div>
    </div>

</div>
<div ng-include="'physicalAssessment/searchStudent.html'"></div>